// Version
$ag-version: 1.0;

// default Settings
$ag-defaults: (
  max-width: 1680px,
  columns: 12,
  gutters: 3em,
  include-fiths: true,
  include-alignment: true,
  reduce-fractions: true,
  responsive: (
    mobile: (4, 6, 8, 12),
    tablet: (3, 4, 6, 8, 9, 12),
    touch: (3, 4, 6, 8, 9, 12),
  ),
  breakpoints: (
    mobile: max-width 640px,
    tablet: 640px 1280px,
    touch: max-width 1280px,
  )
);

// User Settings
$ag: () !default;

// Get config
@function ag-conf($keys...) {
  $config: if(length($ag) > 0, ag-deep-merge($ag-defaults, $ag), $ag-defaults);
  @if ( length($keys) > 0 ) {
    @if ( ag-deep-has-key($config, $keys...) ) {
      @return ag-deep-get($config, $keys...);
    } @else {
      @warn "#{$keys...} does not exists";
    }
  } @else {
    @return $config;
  }
}
