// Version
$ag-version: 1.0;

// Debug
$ag-debug: false;

// default Settings
$ag-defaults: (
  max-width: 1680px,
  columns: 12,
  gutters: 1em,
  include-alignment: true,
  reduce-fractions: true,
  responsive: (
    '*': (
      breakpoint: null,
      columns: (3, 4, 6, 8, 9, 12)
    ),
    tablet: (
      breakpoint: 48em,
      columns: (3, 4, 5, 6, 7, 8, 9, 12),
      gutters: 2em
    ),
    desktop: (
      breakpoint: 72em,
      columns: '*',
      gutters: 2em
    ),
    desktopHD: (
      breakpoint: 90em,
      columns: '*',
      gutters: 4em
    )
  ),
  ie-support: false
);

// User Settings
$ag: () !default;

// Get config
@function ag-conf($keys...) {
  $config: if(length($ag) > 0, ag-deep-merge($ag-defaults, $ag), $ag-defaults);
  @if length($keys) > 0 {
    @if ag-deep-has-key($config, $keys...) {
      @return ag-deep-get($config, $keys...);
    } @else {
      @warn "#{$keys...} does not exists";
    }
  } @else {
    @return $config;
  }
}
